ul{
    list-style-type:none; 
}
ul li{
    float: left;
    margin-left:20px;
}

.nav{
    height:60px;
    background: azure;
    color:#333;
}
.footer{
    background: #000;
    color:#fff;
    height: 100px;

}
.footer ul{

}
.footer ul li{
    display: inline-block;
      float: none;
    margin:30px auto;
}

form button{
    display: block;
    border: none;
    background: black;
    color:#fff;
}
form input,form textarea{
    display: block;
}
